*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 97vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(108, 170, 228);
}

.container{
    width: 40%;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    justify-items: center;
    align-items:baseline ;
    flex-direction: column;
    background: #fff;
    border-radius: 50px;
    box-shadow: 3px 3px 30px #000 ;
    padding: 40px;
}
.plus{
    transition: .3s;
    transform: rotate(0);
}
.plus:hover{
    transform: rotate(90deg);
    transition: .3s;
}

.question{
    height: 25%;
    width: 75%;
}

.visible{
    max-height: 50px;
    overflow: hidden;
    padding: 10px;
    display: grid; 
    grid-template-columns: 1fr .1fr;
    background: rgb(224, 224, 102);
    border-radius: 15px;
    transition: .4s;
    margin-top: 30px;
}

.visible p{
    display: flex;
    align-items:center;
    justify-content: start;
    margin-left: 8px;
}

.visible div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.animacion{
    max-height: 200px;
    transition: .4s;
    
}

.plus-cruzado{
    transform: rotate(calc(90deg - 45deg));
}