@keyframes resp {
    0%{transform: scale(1);}
    50%{transform:scale(0.9)}
    100%{transform: scale(1);}
}

:root{
    --sombra: #888
}


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    width: 100vw;
    height: 7vh;
    background: #ffffff;
    box-shadow: 0 3px 5px var(--sombra);
    color: var(--sombra);
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
}

.op{
    margin: 0 5px;
    user-select: none;
}
.op:hover{
    cursor: pointer;
}


.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    align-items: center;
    justify-items: center;
}

.nav-left{
    width: 50%;
    height: 100%;
    color: #4bc;  
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
    width: 50%;
}

.marca{
    display: inline-block;
    user-select: none;
    font-size: 40px;
}

.resto-de-pagina{
    width: auto;
    height: 93vh;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion{
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--sombra);
    display: flex;
}

.todo{
    user-select: none;
}
.bck-color{
    font-size: x-large;
    color: #ffffff;

}

.btn{
    border-radius: 10px;
    border: 1px solid #222;
    background-color: #ffffff;
    margin-top: 10px;
    animation: resp 2s infinite;
    background: transparent;
}

.btn:hover{
    
    cursor: pointer;
}


